<div id="books-index">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Ruby on Rails Power</h3>
      <%= image_tag('ruby_on_rails_power.jpg')  %>
      <%= link_to 'Read more', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Ajax on Rails</h3>
      <%= image_tag 'ajax_on_rails.jpg' %>
      <%= link_to 'Read more', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Beginning PHP</h3>
      <%= image_tag 'beginning_php.jpg' %>
      <%= link_to 'Read more', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Head First Java</h3>
      <%= image_tag 'head_first_java.jpg' %>
      <%= link_to 'Read more', book_path(1), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Ruby on Rails Power</h3>
      <%= image_tag('ruby_on_rails_power.jpg')  %>
      <%= link_to 'Read more', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Ajax on Rails</h3>
      <%= image_tag 'ajax_on_rails.jpg' %>
      <%= link_to 'Read more', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Beginning PHP</h3>
      <%= image_tag 'beginning_php.jpg' %>
      <%= link_to 'Read more', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Head First Java</h3>
      <%= image_tag 'head_first_java.jpg' %>
      <%= link_to 'Read more', book_path(1), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
